$content-fontcolor: #333;
$content-notice-fontcolor: #777;
$content-bgcolor: #F1F1F1;
$search-bgColor: #F5F5F5;
$search-fontColor: #B7B7B7;
$bg-color: #fff;
$highlight-fontcolor: #e93b3b;
$light-fontcolor: #999;
$medium-fontcolor: #666;
$dark-fontColor: #000;
$btn-bgcolor: #0091ff